body{
    margin: 0 auto;
    width: max-content;
    min-width: 100%;
}

#hedder{
    padding: 0px 3em;
    margin: 0 ;
    background-color: #7E6A4B;
    text-decoration: none;
    display: flex;
}

#hedder h2{
    color: white;
}

#hedder a{
    color: white;
    /* font-size: 16px; */
    text-decoration: none;
    /* display: block; */
    /* margin: 0 10px 0 0;
    padding: 20px; */
}

/* #hedder a:hover{
    background-color: #E5DCD0;
} */

#main{
    padding: 1em 2em;
    width: max-content;
    margin: 1em auto;
    text-align: center;
    font-size: 16px;
    color: #7E6A4B;
}

.box{
    /* padding: 2em; */
    margin: 2em;
    width: max-content;
    text-align: left;
}

.box p {
    background:linear-gradient(transparent 40%, #E5DCD0 40%);
    display: inline-block;
    font-weight: bold;
}

#error_msg{
    color: #ae2121;
    margin: 1em auto;
}


#hide_button{
    background-color: transparent;
    border: solid 1px #000000;
    outline: none;
    padding: 0.5em;

}

#ito_page{
    font-size: 0.8em;
}

#ito_page input{
    font-size: 0.8em;
    /* width: 100%; */
    padding: 4px;
    font-size: 16px;
    border-radius: 3px;
    border: 2px solid #7E6A4B;
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    color: #7E6A4B;
}

a {
    color: midnightblue;
}
a:hover{
    color: rgb(169, 169, 216);

}