<!DOCTYPE html>
<html>

<head>
    <title>test</title>
    <script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js">
    </script>

    <script type="text/python" src="public/main.bry"></script>

    <style>
        .tasks_container {
            display: flex;
            flex-direction: column;
        }

        .task {
            display: flex;
            flex-direction: row;
        }
    </style>
</head>

<body onload="brython()">
    <h1>99% Pythonで作ったToDoリスト</h1>

    <div id="input_area">
        <textarea id="new_task_input"></textarea>
        <button id="new_task_register">登録</button>
    </div>

    <div id="tasks_area" class="tasks_container">
        {% for mytask in tasks%}
        <div class="task">
            <input type="checkbox"></input>
            <div>{{ mytask }}</div>
        </div>
        {% endfor %}
    </div>

</body>

</html>