<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サーヴァント管理システム</title>
    <link rel="stylesheet" href="/static/CSS/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Select2.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
    <!-- Select2本体 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <!-- Select2日本語化 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/i18n/ja.js"></script>

</head>
<body>
    <div id="hedder">
        <a href="{{url_for('list_view')}}">一覧</a>&nbsp;
        <a href="{{url_for('input')}}">新規登録</a>&nbsp;
        <a href="{{url_for('sozai_view')}}">素材計算</a>&nbsp;
        <a href="{{url_for('meter_view')}}">各種表</a>&nbsp;
    </div>
    <div id="main">
    {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category == 'success' %}
            <div style="background-color: #98fb98;">
                {{ message }}
            </div>
        {% elif category == "error" %}
            <div style="background-color: #ffc0cb;">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
    <h2>{% block title %}{% endblock %}</h2>
    {% block body %}{% endblock %}
    </div>
</body>
</html>