{% extends "layout.html" %}
{% block title %}面付けフォーム{% endblock %}
{% block body %}

{% if make_file %}
<div>
    <form action="{{url_for('download')}}" method="POST">
        <div class="button_style">
            <label><button type="submit" style="display: none;"></button>
                ダウンロード
            </label>
        </div>
    </form>
</div>
{% endif %}

<div id="container" >
    <form name="form_hoge" action="{{url_for('main')}}" method="POST" enctype="multipart/form-data">
        <div>
            <div id="attachment">
                <label><input type="file" name="file_data" class="fileinput">PDFファイル選択</label>
                <br>
                <span class="filename">選択されていません</span>
            </div>
            <div class="box">
                <p>原稿サイズ変更</p>
                <div class="cp_ipselect cp_sl01">
                    <select name="page_size" id="">
                        <option value="" selected>元のまま</option>
                        <option value="A6">A6(文庫サイズ)</option>
                        <option value="B6">B6</option>
                    </select>
                </div>
            </div>
            <div class="box">
                <p>レイアウト変更</p>
                <div class="cp_ipselect cp_sl01">
                    <select name="layout" id="layout_select">
                        <option value="" selected>2面（デフォルト）</option>
                        <option value="men_4">4面</option>
                        <!-- <option value="men_16">16面</option> -->
                        <option value="men_8">8面（豆本）</option>
                        <option value="men_ito">糸綴じ複数折り※</option>
                    </select>
                </div>
                <div class="box" id="ito_page" style="display: none;">
                    <p>何ページごとにまとめる？</p><br>
                    <input type="number" step="4" name="ito_page">
                </div>
            </div>
        </div>
        <div class="box">
            <p>テンプレート使用</p>
            <label class="my-checkbox">
                <input type="checkbox" id="hide_button" name="temp_check" >
                <span class="checkmark"></span>
            </label>
        </div>
        <div id="hide_zone" style="display: none;">
            <div id="attachment">
                <label><input type="file" name="template_img" class="fileinput">テンプレート選択</label>
                <br>
                <span class="filename">選択されていません</span>
            </div>
            <div class="box">
                <p>テンプレートサイズ変更</p>
                <div class="cp_ipselect cp_sl01">
                    <select name="temp_size" id="">
                        <option value="" selected>元のまま</option>
                        <option value="B5">B5(原稿サイズA6推奨)</option>
                        <option value="A4">A4(原稿サイズB6推奨)</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="button_style" id="men_submit_button" style="display: block;">
                <label><button type="submit" id="men_submit_button" style="display: none;"></button>
                    アップロード
                </label>
            </div>
            <div id="men_loading" style="display: none;">
                <p>処理中……</p>
            </div>
        </div>
    </form>
</div>

<script>
    $(function () {
    $('#hide_button').on('click', () => {
        if ($('#hide_zone').css('display') == 'block') {
        // 表示されている場合の処理
        $('#hide_zone').hide();
        } else {
        // 非表示の場合の処理
        $('#hide_zone').show();
        }
    });
    });

    const target_button = document.getElementById('men_submit_button');
    const target_msg = document.getElementById('men_loading');
    target_button.addEventListener('click', () => {
        target_button.style.display = "none";
        target_msg.style.display = "block";
    }, false);

    $('#attachment .fileinput').on('change', function () {
        var file = $(this).prop('files')[0];
        $(this).closest('#attachment').find('.filename').text(file.name);
        });


    $("#layout_select").change(function () {
	var extraction_val = $("#layout_select").val();
	if(extraction_val == "men_ito") {
		$('#ito_page').css('display', 'block');
	}else{
		$('#ito_page').css('display', 'none');
    }
    });
</script>

{% endblock %}