{% extends "layout.html" %}
{% block title %}サーヴァント一覧{% endblock %}
{% block body %}

<!-- 検索フォーム -->

<button id="hide_button">検索フォーム表示/非表示</button>

<div id="hide_zone" style="display: none;">
    <form action="{{url_for('list_view')}}" method="POST">
        <table class="search">
            <tr>
                <td>サーヴァント名</td>
                <td>
                    <input type="text" name="name" value="{{ session.get('name') }}">
                </td>
            </tr>
            <tr>
                <td>クラス</td>
                <td>
                    <label><input type="checkbox" name="class_s" value="all" {% if "all" in session.get('class_s') %}checked="checked"{% endif %}>すべて</label>&nbsp;
                    <label><input type="checkbox" name="class_s" value="セイバー" {% if "セイバー" in session.get('class_s') %}checked="checked"{% endif %}>セイバー</label>&nbsp;
                    <label><input type="checkbox" name="class_s" value="アーチャー" {% if "アーチャー" in session.get('class_s') %}checked="checked"{% endif %}>アーチャー</label>&nbsp;
                    <label><input type="checkbox" name="class_s" value="ランサー" {% if "ランサー" in session.get('class_s') %}checked="checked"{% endif %}>ランサー</label>&nbsp;
                    <label><input type="checkbox" name="class_s" value="ライダー" {% if "ライダー" in session.get('class_s') %}checked="checked"{% endif %}>ライダー</label>&nbsp;
                    <label><input type="checkbox" name="class_s" value="キャスター" {% if "キャスター" in session.get('class_s') %}checked="checked"{% endif %}>キャスター</label>&nbsp;
                    <label><input type="checkbox" name="class_s" value="アサシン" {% if "アサシン" in session.get('class_s') %}checked="checked"{% endif %}>アサシン</label>&nbsp;
                    <label><input type="checkbox" name="class_s" value="バーサーカー" {% if "バーサーカー" in session.get('class_s') %}checked="checked"{% endif %}>バーサーカー</label>&nbsp;
                    <label><input type="checkbox" name="class_s" value="ルーラー" {% if "ルーラー" in session.get('class_s') %}checked="checked"{% endif %}>ルーラー</label>&nbsp;
                    <label><input type="checkbox" name="class_s" value="アヴェンジャー" {% if "アヴェンジャー" in session.get('class_s') %}checked="checked"{% endif %}>アヴェンジャー</label>&nbsp;
                    <br>
                    <label><input type="checkbox" name="class_s" value="ムーンキャンサー" {% if "ムーンキャンサー" in session.get('class_s') %}checked="checked"{% endif %}>ムーンキャンサー</label>&nbsp;
                    <label><input type="checkbox" name="class_s" value="アルターエゴ" {% if "アルターエゴ" in session.get('class_s') %}checked="checked"{% endif %}>アルターエゴ</label>&nbsp;
                    <label><input type="checkbox" name="class_s" value="フォーリナー" {% if "フォーリナー" in session.get('class_s') %}checked="checked"{% endif %}>フォーリナー</label>&nbsp;
                    <label><input type="checkbox" name="class_s" value="プリテンダー" {% if "プリテンダー" in session.get('class_s') %}checked="checked"{% endif %}>プリテンダー</label>&nbsp;
                    <label><input type="checkbox" name="class_s" value="シールダー" {% if "シールダー" in session.get('class_s') %}checked="checked"{% endif %}>シールダー</label>&nbsp;
                </td>
            </tr>
            <tr>
                <td>レアリティ</td>
                <td>
                    <label><input type="checkbox" name="star" value="all" {% if "all" in session.get('star') %}checked="checked"{% endif %}>すべて</label>&nbsp;
                    <label><input type="checkbox" name="star" value="0" {% if "0" in session.get('star') %}checked="checked"{% endif %}>☆0</label>&nbsp;
                    <label><input type="checkbox" name="star" value="1" {% if "1" in session.get('star') %}checked="checked"{% endif %}>☆1</label>&nbsp;
                    <label><input type="checkbox" name="star" value="2" {% if "2" in session.get('star') %}checked="checked"{% endif %}>☆2</label>&nbsp;
                    <label><input type="checkbox" name="star" value="3" {% if "3" in session.get('star') %}checked="checked"{% endif %}>☆3</label>&nbsp;
                    <label><input type="checkbox" name="star" value="4" {% if "4" in session.get('star') %}checked="checked"{% endif %}>☆4</label>&nbsp;
                    <label><input type="checkbox" name="star" value="5" {% if "5" in session.get('star') %}checked="checked"{% endif %}>☆5</label>&nbsp;
                </td>
            </tr>
            <tr>
                <td>宝具タイプ</td>
                <td>
                    対象
                    <select name="hougu_syurui">
                        <option value="all" {% if session.get('hougu_syurui') == "all" %}selected{% endif %}>　</option>
                        {% for val in hougu_syuruis %}
                        <option value="{{val.hougu_syurui}}" {% if session.get('hougu_syurui') == val.hougu_syurui %}selected{% endif %}>{{val.hougu_syurui}}</option>
                        {% endfor %}
                    </select>
                    タイプ
                    <select name="hougu_color">
                        <option value="all" {% if session.get('hougu_color ')== "all" %}selected{% endif %}>　</option>
                        {% for val in hougu_colors %}
                        <option value="{{val.hougu_color}}" {% if session.get('hougu_color') == val.hougu_color %}selected{% endif %}>{{val.hougu_color}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>宝具Lv</td>
                <td>
                    <label><input type="checkbox" name="hougu_lv" value="all" {% if "all" in session.get('hougu_lv') %}checked="checked"{% endif %}>すべて</label>&nbsp;
                    <label><input type="checkbox" name="hougu_lv" value="1" {% if "1" in session.get('hougu_lv') %}checked="checked"{% endif %}>1</label>&nbsp;
                    <label><input type="checkbox" name="hougu_lv" value="2" {% if "2" in session.get('hougu_lv') %}checked="checked"{% endif %}>2</label>&nbsp;
                    <label><input type="checkbox" name="hougu_lv" value="3" {% if "3" in session.get('hougu_lv') %}checked="checked"{% endif %}>3</label>&nbsp;
                    <label><input type="checkbox" name="hougu_lv" value="4" {% if "4" in session.get('hougu_lv') %}checked="checked"{% endif %}>4</label>&nbsp;
                    <label><input type="checkbox" name="hougu_lv" value="5" {% if "5" in session.get('hougu_lv') %}checked="checked"{% endif %}>5</label>&nbsp;
                </td>
            </tr>
            <tr>
                <td>性別</td>
                <td>
                    <label><input type="checkbox" name="sex" value="男" {% if "男" in session.get('sex') %}checked="checked"{% endif %}>男</label>&nbsp;
                    <label><input type="checkbox" name="sex" value="女" {% if "女" in session.get('sex') %}checked="checked"{% endif %}>女</label>&nbsp;
                    <label><input type="checkbox" name="sex" value="？" {% if "？" in session.get('sex') %}checked="checked"{% endif %}>その他</label>&nbsp;
                </td>
            </tr>
            <tr>
                <td>属性</td>
                <td>
                    <select name="zokusei_1">
                        <option value="all" {% if session.get('zokusei_1') == "all" %}selected{% endif %}>　</option>
                        {% for val in zokusei_1s %}
                        <option value="{{val.zokusei_1}}" {% if session.get('zokusei_1') == val.zokusei_1 %}selected{% endif %}>{{val.zokusei_1}}</option>
                        {% endfor %}
                    </select>
                    <select name="zokusei_2">
                        <option value="all" {% if session.get('zokusei_2') == "all" %}selected{% endif %}>　</option>
                        {% for val in zokusei_2s %}
                        <option value="{{val.zokusei_2}}" {% if session.get('zokusei_2') == val.zokusei_2 %}selected{% endif %}>{{val.zokusei_2}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>出典</td>
                <td><input type="text" name="source" value="{{session.get('source')}}"></td>
            </tr>
            <tr>
                <td>地域</td>
                <td><input type="text" name="country" value="{{session.get('country')}}"></td>
            </tr>
            <tr>
                <td>スキル</td>
                <td>
                    <select name="skill">
                        <option value="all" {% if session.get('skill') == "all" %}selected{% endif %}>　</option>
                        <option value="10" {% if session.get('skill') == "10" %}selected{% endif %}>スキルマ</option>
                        <option value="9" {% if session.get('skill') == "9" %}selected{% endif %}>9/9/9含め</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>聖杯</td>
                <td>
                    <select name="seihai">
                        <option value="all" {% if session.get('seihai') == "all" %}selected{% endif %}>　</option>
                        <option value="true" {% if session.get('seihai') == "true" %}selected{% endif %}>あり</option>
                        <option value="false" {% if session.get('seihai') == "false" %}selected{% endif %}>なし</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>絆レベル</td>
                <td>
                    <select name="kizuna">
                        <option value="all" {% if session.get('kizuna') == "all" %}selected{% endif %}>　</option>
                        <option value="0~5" {% if session.get('kizuna') == "0~5" %}selected{% endif %}>0~5</option>
                        <option value="6~9" {% if session.get('kizuna') == "6~9" %}selected{% endif %}>6~9</option>
                        <option value="10~15" {% if session.get('kizuna') == "10~15" %}selected{% endif %}>10~15</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>召喚/未召喚</td>
                <td>
                    <select name="shoukan_list">
                        <option value=""> </option>
                        <option value="shoukan_all" {% if session.get('shoukan_list') == "shoukan_all" %}selected{% endif %}>未召喚を含む</option>
                        <option value="shoukan_none" {% if session.get('shoukan_list') == "shoukan_none" %}selected{% endif %}>未召喚のみ</option>
                    </select>
                </td>
            </tr>
        </table>
        <div style="margin: 16px  4px;">
            <button type="submit" class="_button">検索</button>
        </div>
    </form>
</div>

<div class="box">{{count}}騎の該当があります。</div>

<!-- 一覧表示 -->

{% if count != 0 %}
<table class="list border">
    <tr>
        <th class="fixed02" >
            <form action="{{url_for('list_view')}}" style="display: inline" class="sorts" method="POST">
                <input type="hidden" name="sort" value="NO">
                <button type="submit">No.▼</button>
            </form>
        </th>
        <th class="fixed01" >
            <form action="{{url_for('list_view')}}" style="display: inline" class="sorts" method="POST">
                <input type="hidden" name="sort" value="name">
                <button type="submit">名前▼</button>
            </form>
        </th>
        <th class="fixed02" >
            <form action="{{url_for('list_view')}}" style="display: inline" class="sorts" method="POST">
                <input type="hidden" name="sort" value="class_s">
                <button type="submit">クラス▼</button>
            </form></th>
        <th class="fixed02" >
            <form action="{{url_for('list_view')}}" style="display: inline" class="sorts" method="POST">
                <input type="hidden" name="sort" value="star">
                <button type="submit">☆▼</button>
            </form>
        </th>
        <th class="fixed02" >宝具名</th>
        <th colspan="2" class="fixed02" >タイプ</th>
        <th class="fixed02" >
            <form action="{{url_for('list_view')}}" style="display: inline" class="sorts" method="POST">
                <input type="hidden" name="sort" value="hougu_lv">
                <button type="submit">宝具Lv▼</button>
            </form>
        </th>
        <th colspan="3" class="fixed02" >
            <form action="{{url_for('list_view')}}" style="display: inline" class="sorts" method="POST">
                <input type="hidden" name="sort" value="skill">
                <button type="submit">スキル▼</button>
            </form>
        </th>
        <th colspan="2" class="fixed02" >属性</th>
        <th class="fixed02" >
            <form action="{{url_for('list_view')}}" style="display: inline" class="sorts" method="POST">
                <input type="hidden" name="sort" value="shincho">
                <button type="submit">身長▼</button>
            </form>
        </th>
        <th class="fixed02" >
            <form action="{{url_for('list_view')}}" style="display: inline" class="sorts" method="POST">
                <input type="hidden" name="sort" value="taiju">
                <button type="submit">体重▼</button>
            </form>
        </th>
        <th class="fixed02" >性別</th>
        <th class="fixed02" >
            <form action="{{url_for('list_view')}}" style="display: inline" class="sorts" method="POST">
                <input type="hidden" name="sort" value="day">
                <button type="submit">召喚日▼</button>
            </form>
        </th>
        <th class="fixed02" >出典</th>
        <th class="fixed02" >地域</th>
        <th class="fixed02" >
            <form action="{{url_for('list_view')}}" style="display: inline" class="sorts" method="POST">
                <input type="hidden" name="sort" value="st1">
                <button type="submit">筋力▼</button>
            </form>
        </th>
        <th class="fixed02" >
            <form action="{{url_for('list_view')}}" style="display: inline" class="sorts" method="POST">
                <input type="hidden" name="sort" value="st2">
                <button type="submit">耐久▼</button>
            </form>
        </th>
        <th class="fixed02" >
            <form action="{{url_for('list_view')}}" style="display: inline" class="sorts" method="POST">
                <input type="hidden" name="sort" value="st3">
                <button type="submit">敏捷▼</button>
            </form>
        </th>
        <th class="fixed02" >
            <form action="{{url_for('list_view')}}" style="display: inline" class="sorts" method="POST">
                <input type="hidden" name="sort" value="st4">
                <button type="submit">魔力▼</button>
            </form>
        </th>
        <th class="fixed02" >
            <form action="{{url_for('list_view')}}" style="display: inline" class="sorts" method="POST">
                <input type="hidden" name="sort" value="st5">
                <button type="submit">幸運▼</button>
            </form>
        </th>
        <th class="fixed02" >
            <form action="{{url_for('list_view')}}" style="display: inline" class="sorts" method="POST">
                <input type="hidden" name="sort" value="st6">
                <button type="submit">宝具▼</button>
            </form>
        </th>
        <th class="fixed02" >
            <form action="{{url_for('list_view')}}" style="display: inline" class="sorts" method="POST">
                <input type="hidden" name="sort" value="kizuna">
                <button type="submit">絆▼</button>
            </form>
        </th>
        <th class="fixed02" >
            <form action="{{url_for('list_view')}}" style="display: inline" class="sorts" method="POST">
                <input type="hidden" name="sort" value="seihai">
                <button type="submit">聖杯▼</button>
            </form>
        </th>
    </tr>
    {% for savant in savants %}
    <tr>
        <td style="text-align: right;">{{ savant.NO }}</td>
        <th class="fixed02" style="text-align: left;background: white;"><a href="{{url_for('detil_show',NO=savant.NO)}}">{{ savant.name }}</a></th>
        <td>{{ savant.class_s }}</td>
        <td>{{ savant.star }}</td>
        <td>{{ savant.hougu_name }}</td>
        <td>{{ savant.hougu_syurui }}</td>
        <td>{{ savant.hougu_color }}</td>
        <td>
            {% if savant.day %}
                {{ savant.hougu_lv }}
            {% endif %}
        </td>
        <td>
            {% if savant.day %}
                {{ savant.skill_1 }}
            {% endif %}
        </td>
        <td>
            {% if savant.day %}
                {{ savant.skill_2 }}
            {% endif %}
        </td>
        <td>
            {% if savant.day %}
                {{ savant.skill_3 }}
            {% endif %}
        </td>
        <td>{{ savant.zokusei_1 }}</td>
        <td>{{ savant.zokusei_2 }}</td>
        <td>{{ savant.shincho }}</td>
        <td>{{ savant.taiju }}</td>
        <td>{{ savant.sex }}</td>
        <td>
            {% if savant.day == None %}
            未召喚
            {% else %}
            {{ savant.day }}
            {% endif %}
        </td>
        <td>{{ savant.source }}</td>
        <td>{{ savant.country }}</td>
        <td>{{ savant.st1 }}</td>
        <td>{{ savant.st2 }}</td>
        <td>{{ savant.st3 }}</td>
        <td>{{ savant.st4 }}</td>
        <td>{{ savant.st5 }}</td>
        <td>{{ savant.st6 }}</td>
        <td>{% if savant.kizuna != 5 %} {{ savant.kizuna }} {% endif %}</td>
        <td>{% if savant.seihai %}{{ savant.seihai }}{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<script>
    $(function () {
    $('#hide_button').on('click', () => {
        if ($('#hide_zone').css('display') == 'block') {
        // 表示されている場合の処理
        $('#hide_zone').hide();
        } else {
        // 非表示の場合の処理
        $('#hide_zone').show();
        }
    });
    });

</script>
    
{% endblock %}