{% extends "layout.html" %}
{% block body %}

<div class="yoko">
	<table class="data border" style="text-align: right;">
		<tr>
			<th colspan="8">時期別召喚数</th>
		</tr>
		<tr>
			<th></th>
			<th>2016</th>
			<th>2017</th>
			<th>2018</th>
			<th>2019</th>
			<th>2020</th>
			<th>2021</th>
			<th>2022</th>
		</tr>
		<tr>
			<th>1月</th>
			<td>{{ day_list["c2016_1"] }}</td>
			<td>{{ day_list["c2017_1"] }}</td>
			<td>{{ day_list["c2018_1"] }}</td>
			<td>{{ day_list["c2019_1"] }}</td>
			<td>{{ day_list["c2020_1"] }}</td>
			<td>{{ day_list["c2021_1"] }}</td>
			<td>{{ day_list["c2022_1"] }}</td>
		</tr>
		<tr>
			<th>2月</th>
			<td>{{ day_list["c2016_2"] }}</td>
			<td>{{ day_list["c2017_2"] }}</td>
			<td>{{ day_list["c2018_2"] }}</td>
			<td>{{ day_list["c2019_2"] }}</td>
			<td>{{ day_list["c2020_2"] }}</td>
			<td>{{ day_list["c2021_2"] }}</td>
			<td>{{ day_list["c2022_2"] }}</td>
		</tr>
		<tr>
			<th>3月</th>
			<td>{{ day_list["c2016_3"] }}</td>
			<td>{{ day_list["c2017_3"] }}</td>
			<td>{{ day_list["c2018_3"] }}</td>
			<td>{{ day_list["c2019_3"] }}</td>
			<td>{{ day_list["c2020_3"] }}</td>
			<td>{{ day_list["c2021_3"] }}</td>
			<td>{{ day_list["c2022_3"] }}</td>
		</tr>
		<tr>
			<th>4月</th>
			<td>{{ day_list["c2016_4"] }}</td>
			<td>{{ day_list["c2017_4"] }}</td>
			<td>{{ day_list["c2018_4"] }}</td>
			<td>{{ day_list["c2019_4"] }}</td>
			<td>{{ day_list["c2020_4"] }}</td>
			<td>{{ day_list["c2021_4"] }}</td>
			<td>{{ day_list["c2022_4"] }}</td>
		</tr>
		<tr>
			<th>5月</th>
			<td>{{ day_list["c2016_5"] }}</td>
			<td>{{ day_list["c2017_5"] }}</td>
			<td>{{ day_list["c2018_5"] }}</td>
			<td>{{ day_list["c2019_5"] }}</td>
			<td>{{ day_list["c2020_5"] }}</td>
			<td>{{ day_list["c2021_5"] }}</td>
			<td>{{ day_list["c2022_5"] }}</td>
		</tr>
		<tr>
			<th>6月</th>
			<td>{{ day_list["c2016_6"] }}</td>
			<td>{{ day_list["c2017_6"] }}</td>
			<td>{{ day_list["c2018_6"] }}</td>
			<td>{{ day_list["c2019_6"] }}</td>
			<td>{{ day_list["c2020_6"] }}</td>
			<td>{{ day_list["c2021_6"] }}</td>
			<td>{{ day_list["c2022_6"] }}</td>
		</tr>
		<tr>
			<th>7月</th>
			<td>{{ day_list["c2016_7"] }}</td>
			<td>{{ day_list["c2017_7"] }}</td>
			<td>{{ day_list["c2018_7"] }}</td>
			<td>{{ day_list["c2019_7"] }}</td>
			<td>{{ day_list["c2020_7"] }}</td>
			<td>{{ day_list["c2021_7"] }}</td>
			<td>{{ day_list["c2022_7"] }}</td>
		</tr>
		<tr>
			<th>8月</th>
			<td>{{ day_list["c2016_8"] }}</td>
			<td>{{ day_list["c2017_8"] }}</td>
			<td>{{ day_list["c2018_8"] }}</td>
			<td>{{ day_list["c2019_8"] }}</td>
			<td>{{ day_list["c2020_8"] }}</td>
			<td>{{ day_list["c2021_8"] }}</td>
			<td>{{ day_list["c2022_8"] }}</td>
		</tr>
		<tr>
			<th>9月</th>
			<td>{{ day_list["c2016_9"] }}</td>
			<td>{{ day_list["c2017_9"] }}</td>
			<td>{{ day_list["c2018_9"] }}</td>
			<td>{{ day_list["c2019_9"] }}</td>
			<td>{{ day_list["c2020_9"] }}</td>
			<td>{{ day_list["c2021_9"] }}</td>
			<td>{{ day_list["c2022_9"] }}</td>
		</tr>
		<tr>
			<th>10月</th>
			<td>{{ day_list["c2016_10"] }}</td>
			<td>{{ day_list["c2017_10"] }}</td>
			<td>{{ day_list["c2018_10"] }}</td>
			<td>{{ day_list["c2019_10"] }}</td>
			<td>{{ day_list["c2020_10"] }}</td>
			<td>{{ day_list["c2021_10"] }}</td>
			<td>{{ day_list["c2022_10"] }}</td>
		</tr>
		<tr>
			<th>11月</th>
			<td>{{ day_list["c2016_11"] }}</td>
			<td>{{ day_list["c2017_11"] }}</td>
			<td>{{ day_list["c2018_11"] }}</td>
			<td>{{ day_list["c2019_11"] }}</td>
			<td>{{ day_list["c2020_11"] }}</td>
			<td>{{ day_list["c2021_11"] }}</td>
			<td>{{ day_list["c2022_11"] }}</td>
		</tr>
		<tr>
			<th>12月</th>
			<td>{{ day_list["c2016_12"] }}</td>
			<td>{{ day_list["c2017_12"] }}</td>
			<td>{{ day_list["c2018_12"] }}</td>
			<td>{{ day_list["c2019_12"] }}</td>
			<td>{{ day_list["c2020_12"] }}</td>
			<td>{{ day_list["c2021_12"] }}</td>
			<td>{{ day_list["c2022_12"] }}</td>
		</tr>
		<tr>
			<th>合計</th>
			<td>{{ day_list["c2016_sum"] }}</td>
			<td>{{ day_list["c2017_sum"] }}</td>
			<td>{{ day_list["c2018_sum"] }}</td>
			<td>{{ day_list["c2019_sum"] }}</td>
			<td>{{ day_list["c2020_sum"] }}</td>
			<td>{{ day_list["c2021_sum"] }}</td>
			<td>{{ day_list["c2022_sum"] }}</td>
		</tr>
	</table>

	<table class="data border" style="text-align: right;">
		<tr>
			<th colspan="5">宝具種別</th>
		</tr>
		<tr>
			<th></th>
			<th>バスター</th>
			<th>アーツ</th>
			<th>クイック</th>
			<th>計</th>
		</tr>
		<tr>
			<th>単体</th>
			<td>{{hougu_list["buster_single"]}}</td>
			<td>{{hougu_list["arts_single"]}}</td>
			<td>{{hougu_list["quick_single"]}}</td>
			<td>{{hougu_list["single_sum"]}}</td>
		</tr>
		<tr>
			<th>全体</th>
			<td>{{hougu_list["buster_all"]}}</td>
			<td>{{hougu_list["arts_all"]}}</td>
			<td>{{hougu_list["quick_all"]}}</td>
			<td>{{hougu_list["all_sum"]}}</td>
		</tr>
		<tr>
			<th>サポート</th>
			<td>{{hougu_list["buster_support"]}}</td>
			<td>{{hougu_list["arts_support"]}}</td>
			<td>{{hougu_list["quick_support"]}}</td>
			<td>{{hougu_list["support_sum"]}}</td>
		</tr>
		<tr>
			<th>計</th>
			<td>{{hougu_list["buster_sum"]}}</td>
			<td>{{hougu_list["arts_sum"]}}</td>
			<td>{{hougu_list["quick_sum"]}}</td>
			<td></td>
		</tr>
	</table>

	<table class="data border" style="text-align: right;">
		<tr>
			<th colspan="7">宝具レベル別</th>
		</tr>
		<tr>
			<th></th>
			<th>LV.1</th>
			<th>LV.2</th>
			<th>LV.3</th>
			<th>LV.4</th>
			<th>LV.5</th>
			<th>計</th>
		</tr>
		<tr>
			<th>☆1</th>
			<td>{{hougu_lv_list["h1_1"]}}</td>
			<td>{{hougu_lv_list["h1_2"]}}</td>
			<td>{{hougu_lv_list["h1_3"]}}</td>
			<td>{{hougu_lv_list["h1_4"]}}</td>
			<td>{{hougu_lv_list["h1_5"]}}</td>
			<td>{{hougu_lv_list["h1_S_sum"]}}</td>
		</tr>
		<tr>
			<th>☆2</th>
			<td>{{hougu_lv_list["h2_1"]}}</td>
			<td>{{hougu_lv_list["h2_2"]}}</td>
			<td>{{hougu_lv_list["h2_3"]}}</td>
			<td>{{hougu_lv_list["h2_4"]}}</td>
			<td>{{hougu_lv_list["h2_5"]}}</td>
			<td>{{hougu_lv_list["h2_S_sum"]}}</td></tr>
		<tr>
			<th>☆3</th>
			<td>{{hougu_lv_list["h3_1"]}}</td>
			<td>{{hougu_lv_list["h3_2"]}}</td>
			<td>{{hougu_lv_list["h3_3"]}}</td>
			<td>{{hougu_lv_list["h3_4"]}}</td>
			<td>{{hougu_lv_list["h3_5"]}}</td>
			<td>{{hougu_lv_list["h3_S_sum"]}}</td></tr>
		<tr>
			<th>☆4</th>
			<td>{{hougu_lv_list["h4_1"]}}</td>
			<td>{{hougu_lv_list["h4_2"]}}</td>
			<td>{{hougu_lv_list["h4_3"]}}</td>
			<td>{{hougu_lv_list["h4_4"]}}</td>
			<td>{{hougu_lv_list["h4_5"]}}</td>
			<td>{{hougu_lv_list["h4_S_sum"]}}</td></tr>
		<tr>
			<th>☆5</th>
			<td>{{hougu_lv_list["h5_1"]}}</td>
			<td>{{hougu_lv_list["h5_2"]}}</td>
			<td>{{hougu_lv_list["h5_3"]}}</td>
			<td>{{hougu_lv_list["h5_4"]}}</td>
			<td>{{hougu_lv_list["h5_5"]}}</td>
			<td>{{hougu_lv_list["h5_S_sum"]}}</td></tr>
		<tr>
			<th>計</th>
			<td>{{hougu_lv_list["h1_L_sum"]}}</td>
			<td>{{hougu_lv_list["h2_L_sum"]}}</td>
			<td>{{hougu_lv_list["h3_L_sum"]}}</td>
			<td>{{hougu_lv_list["h4_L_sum"]}}</td>
			<td>{{hougu_lv_list["h5_L_sum"]}}</td>
			<td></td>
		</tr>
	</table>
</div>

<div class="yoko">
	<table class="data border" style="text-align: right;">
		<tr>
			<th colspan="3">アイテム使用数計算</th>
		</tr>
		<tr>
			<th></th>
			<th>サーヴァント数</th>
			<th>使用数</th>
		</tr>
		<tr>
			<th>聖杯</th>
			<td>{{item_num["seihai_savant"]}}</td>
			<td>{{item_num["seihai_num"]}}</td>
		</tr>
		<tr>
			<th>スキルマ</th>
			<td>{{item_num["skill_savant"]}}</td>
			<td>{{item_num["skill_num"]}}</td>
		</tr>
		<tr>
			<th>9/9/9</th>
			<td>{{item_num["999_num"]}}</td>
			<td>-</td>
		</tr>
		<tr>
			<th>絆10</th>
			<td>{{item_num["kizuna_10"]}}</td>
			<td>-</td>
		</tr>
	</table>
</div>
{% endblock %}