{% extends "layout.html" %}
{% block body %}

<div class="detil">
	No.{{ savant.NO }}
	<h2>{{ savant.name }}</h2>

	{{ savant.class_s }}　☆{{ savant.star }}<br>
	{% if savant.day %}{{ savant.day }} 召喚<br>{% else %}未召喚<br>{% endif %}
	<br>
	身長/体重 : {{ savant.shincho }}cm・{{ savant.taiju }}kg<br>
	出典 : {{ savant.source }}<br>
	地域 : {{ savant.country }}<br>
	属性 : {{ savant.zokusei_1 }}・{{ savant.zokusei_2 }}　　性別 : {{ savant.sex }}<br>
	<h3>宝具名 : {{ savant.hougu_name }}</h3>
	{% if savant.day %}Lv.{{ savant.hougu_lv }}<br>{% endif %}
	{{ savant.hougu_syurui }} / {{ savant.hougu_color }}　<br>
	<br>
	{% if savant.day %}
		スキル : {{ savant.skill_1 }}/{{ savant.skill_2 }}/{{ savant.skill_3 }}<br>
		絆レベル : {{ savant.kizuna }}<br>
		{% if savant.seihai %}使用聖杯数 : {{ savant.seihai }}個{% endif %}<br>
	{% endif %}
	<br>
	<table class="meter">
		<tr>
			<td>
				筋力 <meter value="{% if "A" in savant.st1 %}0.99{% elif "B" in savant.st1 %}0.75{% elif "C" in savant.st1 %}0.5{% elif "D" in savant.st1 %}0.25{% elif savant.st1 == "EX" %}1{% else %}0{% endif %}" high="0.99"></meter> {{ savant.st1 }}
			</td>
			<td>
				耐久 <meter value="{% if "A" in savant.st4 %}0.99{% elif "B" in savant.st4 %}0.75{% elif "C" in savant.st4 %}0.5{% elif "D" in savant.st4 %}0.25{% elif savant.st4 == "EX" %}1{% else %}0{% endif %}" high="0.99"></meter> {{ savant.st4 }}
			</td>
		</tr>
		<tr>
			<td>
				敏捷 <meter value="{% if "A" in savant.st2 %}0.99{% elif "B" in savant.st2 %}0.75{% elif "C" in savant.st2 %}0.5{% elif "D" in savant.st2 %}0.25{% elif savant.st2 == "EX" %}1{% else %}0{% endif %}" high="0.99"></meter> {{ savant.st2 }}
			</td>
			<td>
				魔力 <meter value="{% if "A" in savant.st5 %}0.99{% elif "B" in savant.st5 %}0.75{% elif "C" in savant.st5 %}0.5{% elif "D" in savant.st5 %}0.25{% elif savant.st5 == "EX" %}1{% else %}0{% endif %}" high="0.99"></meter> {{ savant.st5 }}
			</td>
		</tr>
		<tr>
			<td>
				幸運 <meter value="{% if "A" in savant.st3 %}0.99{% elif "B" in savant.st3 %}0.75{% elif "C" in savant.st3 %}0.5{% elif "D" in savant.st3 %}0.25{% elif savant.st3 == "EX" %}1{% else %}0{% endif %}" high="0.99"></meter> {{ savant.st3 }}
			</td>
			<td>
				宝具 <meter value="{% if "A" in savant.st6 %}0.99{% elif "B" in savant.st6 %}0.75{% elif "C" in savant.st6 %}0.5{% elif "D" in savant.st6 %}0.25{% elif savant.st6 == "EX" %}1{% else %}0{% endif %}" high="0.99"></meter> {{ savant.st6 }}
			</td>
		</tr>	
	</table>
	<br>
	{% if savant.me %}一人称 : {{savant.me}}<br>{% endif %}
	{% if savant.you %}二人称 : {{savant.you}}<br>{% endif %}
	{% if savant.he_she %}三人称 : {{savant.he_she}}<br>{% endif %}
	{% if savant.master %}マスター : {{savant.master}}<br>{% endif %}
	<br>
	<form action="{{url_for('input')}}" method="POST">
		<input type="hidden" name="up_NO" value="{{savant.NO}}">
		<button type="submit">編集</button>
	</form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<form action="{{url_for('delete',NO=savant.NO)}}" method="POST">
	<button type="submit">削除</button>
</form>
{% endblock %}